.pre-footer {
	background-color: $corGraySuave;
	padding: 15px 0px;
	.menu-principal-footer {
		.footer-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0px;
			padding: 0px;
			.main-menu-item {
				a {
					text-transform: uppercase;
					padding: 0px 15px;
					color: $corPrincipal;
					font-weight: bold;
				}
			}
		}
	}
}
@media screen and (max-width: $xsWidth) {
	.pre-footer {
		display: none;
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.pre-footer {
		display: none;
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	
}
@media screen and (min-width: $xlWidth) {
	
}